@model ChangePasswordDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Şifre Değiştir</h1>

<form method="post" class="form-group">
        <label>Mevcut Şifreniz:</label>
        <input type="password" asp-for="CurrentPassword" class="form-control" required/>

        <br />
        <label>Yeni Şifreniz:</label>
        <input type="password" asp-for="NewPassword" class="form-control" required />

        <label>Yeni Şifrenizi Onaylayınız:</label>
        <input type="password" asp-for="ConfirmPassword" class="form-control" required />

        <span class="text-danger">@Html.ValidationSummary()</span>

    <button type="submit" class="btn btn-outline-primary mt-3">Şifre Değiştir</button>
</form>
