@model List<AppRole>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Roller</h3>

@{
    int count = 0;
}

<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Rol Adı</th>
        <th>İşlemler</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.Name</td>
            <td>
                <a asp-area="Admin" asp-controller="Role" asp-action="UpdateRole" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Düzenle</a>
                <a asp-area="Admin" asp-controller="Role" asp-action="DeleteRole" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Sil</a>
            </td>
        </tr>
    }

</table>

<a asp-area="Admin" asp-controller="Role" asp-action="CreateRole" class="btn btn-success">Yeni Rol Ekle</a>

