@model CreateCategoryDto
@{
    ViewData["Title"] = "CreateCategory";
}

<h3>Kategori Ekle</h3>

<form asp-action="CreateCategory" method="post">
    <label>Kategori Adı:</label>
    <input type="text" asp-for="Name" class="form-control"/>
    <span asp-validation-for="Name" class="text-danger"></span>
    <br />
    <button type="submit" class="btn btn-primary mt-2">Ekle</button>
</form>

